@font-face{
    font-family:'HanyiSentyJournal' ;
    src: url(../font/HanyiSentyJournal.woff) format('woff'),
    url(../font/HanyiSentyJournal.ttf) format('truetype'),
    url(../font/HanyiSentyJournal.eot) format('embedded-opentype')
  }
.chair{
    width: 1300px;
      margin: auto;
      background-color: #FBFBFF;
      margin-top: 50px;
      padding: 10px;
}
.chair img{
    width: 100%;

}
.chair h1{
    text-align: center;
      font-weight: 900;
      margin-bottom: 0.4em;
      margin-top: 0.4em;
      font-family:'HanyiSentyJournal';
}
.chair p{
    line-height:1.5;
font-weight: 300;
font-family:'HanyiSentyJournal';
font-size: 25px;
padding: 15px;
}