.main-header{
    background: linear-gradient(to bottom right, #FBFBFF, #272727);

  }
  .main-header .container{
      display: flex;
      padding: 5px;
      width: 1800px;
      margin: auto;
      align-items: center;
  }
  .logo{
      width: 100px;
  }
  .logo img{
       width: 200px;
      
       
  }
  .main-nav{
      margin: auto;
      padding: 5px 1em;

  }
  .main-nav a{
      text-decoration:none ;
      padding: 5px 0.5em;
      font-size: 30px;
      position: relative;
  }
  .main-nav a:after{
      content: '';
      position:absolute;
      Left: 50%;
      right: 50%;
      height: 0;
      bottom: -5px;
      border-bottom: 1px solid #272727 ; 
      transition: .5s; 
      font-family:'HanyiSentyJournal';
      
  }
  .main-nav a:hover:after{
      Left: 0;
      right: 0;

  }